.comment_slider {
	.comment_wrap {
		padding: 75px 45px;
		width: 390px;
		height: 495px;
		box-shadow: 0 0 58px 1px rgba(114, 114, 114, 0.24);
		background-color: #ffffff;
		text-align: center;
	}
}
.user_img {
	margin: 0 auto;
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: url('../img/user_img.jpg') no-repeat center;
	background-size: cover;
	margin-bottom: 20px;
}
.user_name {
	color: #c2185b;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 6px;
	line-height: 18px;
}
.date {
	color: #919191;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 21px;
}
.comment_title {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	font-family: "DINPro";
	text-transform: uppercase;
	margin-bottom: 13px;
}
.comment_descr {
	color: #474747;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
  padding: 0 15px;
}

.title_block {
	position: relative;
	font-size: 24px;
	margin-bottom: 80px;
	&:after {
		content: '';
		width: 100%;
		height: 2px;
		position: absolute;
		top: 45px;
		left: 0;
		background: url('../img/img_bg.png') no-repeat center;
		background-size: contain;
	}
}
.comment_wrap {
	box-shadow: -5px 0 12px 1px rgba(112, 112, 112, 0.5);
	display: block;
	text-align: center;
	padding: 75px 35px;
}
.owl_wrapper {
	.owl-carousel .owl-item {
		position: relative;
		opacity: 0;
		top: 60px;
		margin-bottom: 20px;
		// width: 390px!important;
		padding: 40px 0;
		.comment_wrap {
			padding: 20px 35px;
			background: white;
		}
		&.cloned {
			opacity: 0;
		}
		&.active {
			z-index: 7777!important;
			opacity: .5;
		}
		&.center {
			opacity: 1!important;
			width: 390px!important;
			position: relative;
			z-index: 88888!important;
			top: 0;
			margin-left: -90px;
			margin-right: -90px;
			.comment_wrap {
				box-shadow: 0 0 58px 1px rgba(114, 114, 114, 0.24);
				display: block;
				text-align: center;
				padding: 75px 47px;
				.user_img {
					width: 140px;
					height: 140px;
				}
				.user_name {
					font-size: 18px;
				}
				.comment_title {
					font-size: 18px;
				}
				.comment_descr {
					font-size: 14px;
				}
			}
		}
	}
	.owl_wrapper .owl-carousel .owl-item .active {
		top: 40px;
	}
	.owl-stage-outer {
		height: 580px;
		margin: 0 0 80px 0;
		padding: 0 60px;
	}
	.owl-nav {
		.owl-prev {
			margin-left: -60px;
		}
		.owl-next {
			margin-right: -60px;
		}
	}
}
