<div class="comments">
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-10 large-offset-1 small-12">
        <div class="title_block txt_center">
          <p>ОТЗЫВЫ НАШИХ ПОКУПАТЕЛЕЙ</p>
        </div>
        <div class="owl_wrapper">
          <div class="owl_content owl-carousel">
            <div class="comment_wrap">
              <span class="user_img">
              </span>
              <p class="user_name">Надежда Галицкая</p>
              <p class="date">10.04.2017</p>
              <p class="comment_title">LA RIVE SWAROVSKI PEARL WOMAN</p>
              <p class="comment_descr">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
            </div>
            <div class="comment_wrap">
              <span class="user_img">
              </span>
              <p class="user_name">Надежда Галицкая</p>
              <p class="date">11.04.2017</p>
              <p class="comment_title">LA RIVE SWAROVSKI PEARL WOMAN</p>
              <p class="comment_descr">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
            </div>
            <div class="comment_wrap">
                  <span class="user_img">
                  </span>
                  <p class="user_name">Надежда Галицкая</p>
                  <p class="date">12.04.2017</p>
                  <p class="comment_title">LA RIVE SWAROVSKI PEARL WOMAN</p>
                  <p class="comment_descr">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                </div>
            <div class="comment_wrap">
              <span class="user_img">
              </span>
              <p class="user_name">Надежда Галицкая</p>
              <p class="date">13.04.2017</p>
              <p class="comment_title">LA RIVE SWAROVSKI PEARL WOMAN</p>
              <p class="comment_descr">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
