<div class="content">
    <div class="grid-container">
      <div class="grid-x">
        <div class="large-4 medium-5 small-12">
          <div class="wrap_item img_item1">

            <div class="hover">
              <div class="br_item">
                <div class="text_wrap">
                  <p class="title_item">Косметика для лица</p>
                  <p class="descr_item">Lorem Ipsum - это текст-"рыба", часто
                    используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с
                    начала XVI века.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-8 medium-7 small-12">
          <div class="wrap_item img_item2">
            <div class="hover">
              <div class="br_item">
                <div class="text_wrap">
                  <p class="title_item">Косметика для лица</p>
                  <p class="descr_item">Lorem Ipsum - это текст-"рыба", часто
                    используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с
                    начала XVI века.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x">
        <div class="large-4 medium-6 small-12">
          <div class="wrap_item img_item3">
            <div class="hover">
              <div class="br_item">
                <div class="text_wrap">
                  <p class="title_item">Косметика для лица</p>
                  <p class="descr_item">Lorem Ipsum - это текст-"рыба", часто
                    используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с
                    начала XVI века.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12">
          <div class="wrap_item img_item4">
            <div class="hover">
              <div class="br_item">
                <div class="text_wrap">
                  <p class="title_item">Косметика для лица</p>
                  <p class="descr_item">Lorem Ipsum - это текст-"рыба", часто
                    используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с
                    начала XVI века.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12">
          <div class="wrap_item img_item5">
            <div class="hover">
              <div class="br_item">
                <div class="text_wrap">
                  <p class="title_item">Косметика для лица</p>
                  <p class="descr_item">Lorem Ipsum - это текст-"рыба", часто
                    используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной
                    "рыбой" для текстов на латинице с
                    начала XVI века.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
