<div class="header">
    <div class="header_top hr">
      <div class="grid-container">
        <div class="grid-x">
          <div class="large-5 medium-7 small-12">
            <div class="wrap">
              <ul class="nav_top">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Партнерам</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="large-5 large-offset-2 medium-5 small-12">
            <div class="wrap">
              <div class="sing_in clearfix">
              <a class="user right" href="#">Войти</a>
              <form class="search right" method="post">
                <input placeholder="Поиск продукции..." type="text">
                <button type="submit" name="search"></button>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_main">
      <div class="grid-container">
        <div class="grid-x">
          <div class="large-2 medium-3 small-6 position_center">
            <div class="wrap">
              <ul class="tel">
                <li><a href="tel:+380631363136">+38 (063) 136-31-36</a></li>
                <li><a href="tel:+380965815010">+38 (096) 581-50-10</a></li>
                <li><a href="tel:+380631113840">+38 (063) 111-38-40</a></li>
              </ul>
              <div class="btn">
                <a href="#">Заказать звонок</a>
              </div>
            </div>
          </div>
          <div class="large-6 large-offset-1 medium-6 small-12 position_top">
            <div class="wrap txt_center">
              <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
            </div>
          </div>
          <div class="large-2 large-offset-1 medium-3 small-6 position_bottom">
            <div class="wrap">
              <ul class="user_buttons">
                <li><a class="like" href="#"></a></li>
                <li>
                  <a class="basket" href="#"><span>1000 грн.</span></a>
                </li>
              </ul>
              <div class="schedule">
                <p>Время работы:</p>
                <p>Пн-Вс с 6:00 до 18:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header_nav">
      <div class="grid-container">
        <div class="grid-x">
          <div class="large-12 medium-12 smoll-12">
            <div class="menu_tog">
              <a class="toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
            <div class="nav_wrap txt_center">
              <ul class="main_nav">
                <li><a href="#">Парфюмерия <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">Глаза <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">Губы <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">Лицо <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">Ногти <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">Бренды <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="#">Акции</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
